*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {

    padding: 1rem;
}

.dialouge_body {
    padding-left: 14px;
    color: #808080;

}
.container{

display: flex;
flex-wrap: wrap;
gap: 15px;

}

.dialouge_Container{
    
    height: 20rem;
    flex: 1 1 0;
    /* width: 20rem; */
    
}

.dialouge_card{

    width: 21rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 4rem;
    margin-left: 43px;
}

.footer {

    /* position: relative;
    left: 162px;
    top: 86px */

    display: flex;
    justify-content: flex-end;
    margin-top: 38px;
    
  
}

.footer_two{

    display: flex;
    align-items: flex-end;
    flex-direction: column;
     margin-top: 3rem;
}
button {

 
    /* background-color: #333; */
    color: #6200ee;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 3px 8px;
    background-color: Transparent;
  background-repeat:no-repeat;
   border: none;
     
}

.button:hover {background-color: #973131}

.button:active {
    background-color: #973131;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.items_container{

    display: flex;
    flex-direction: column;
    text-align: center;

}

h4 {

    padding: 1rem;
    color: gray;
}

.drawer_icon{

    font-size: 30px;
    /* background-color: rgb(194 194 194); */
}

form{
    padding: 1rem;
    height: 5rem;
    overflow-y: scroll;
}

label {

    font-weight: lighter;
    color: #808080;
    padding: 10px;
    text-align: center;
}

input {
    text-align: center;
    padding: 1rem;
}