*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {

    padding: 1rem;
}

.dialouge_body {
    padding-left: 14px;
    color: #808080;

}
.container{

display: flex;
flex-wrap: wrap;
gap: 15px;

}

.dialouge_Container{
    
    height: 20rem;
    flex: 1 1 0;
    /* width: 20rem; */
    border: 1px solid black;
    
}

.dialouge_card{

    width: 21rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 4rem;
    margin-left: 43px;
}

.footer {

    /* position: relative;
    left: 162px;
    top: 86px */

    display: flex;
    justify-content: flex-end;
    margin-top: 38px;
    

}

button {

 
    cursor: pointer;
    /* background-color: #333; */
    color: #6200ee;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 3px 8px;
    background-color: Transparent;
  background-repeat:no-repeat;
   border: none;
     
}