*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{

    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-evenly;

}

.demo{
    /* height: 15rem; */
    width: 38rem;
    border: 1px solid black;
    overflow-y: scroll;

}


header {

    display: flex;
    background-color: #8a2be2;
    padding: 1rem 1rem;

}

.header_name a {

color: white;
padding-left: 1rem;
display: flex;
padding: 10px;

}

i {
    color: white;
}


.icon_shift{

    margin-top:12px
}

.header_nav{
    display: flex;
    margin-left: 14rem;
    flex-wrap: wrap;
    align-items: center;
}


.header_nav li {

    display: inline-block;
    padding: 4px;
}
.header_name a {
    text-decoration: none;
}


p{
    padding: 1rem;
}

.scrollbar_text {
    background-color: white;
    height: 100px;

}

.header.sticky {

    position: fixed;
    top: 0;
}

.header.dense {

    padding: 0;
}


.header.prominent {
    
height: 5vh;

}